<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         colors="true"
         requireCoverageMetadata="false"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Contao Twig debug marker bundle tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
</phpunit>
